.page-wrapper {
  margin: 0 auto;
  padding: 25px;
}


.event-show-card {
  text-align: center;
  background-image: image-url('event-show-background.jpeg');
  background-size: cover;
  height: 100%;
  width: 1050px;
  margin: 25px;
  display: flex;
  box-shadow: 5px 0px 9px -1px rgba(153,148,153,1);

}


.game-image {
}

.game-image img {
  border-radius: 3px;
  height: 345px;
  width: 345px;
}

.host-details {
  display: flex;
  padding: 8px;
  height: 200px;
  text-align: center;
  a {
    text-decoration: none
  }
  img {
    height: 85px;
    width: 85px;
    border-radius: 16px;
  }

}

.host-actions {
  font-size: 32px;
  padding: 8px;
  height: 200px;
  text-align: center;
}
.column-one, .column-two, .column-three, {
  padding: 5px;
  width: 350px;
}


.game-name {
  height: 100px;
  align-items: center;
  text-align: center;
  border-bottom: 3px solid black;

}

.game-details {
  height: 250px;

  padding: 8px;

  font-size: 22px;
}

.date{
  padding: 3px;
}

.address {
  padding: 3px;
}

.game-description {
  height: 400px;
  text-align: justify;
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px;
}



.player-list  {
  text-align: center;

}
.player-card {
  display: flex;
  align-items: flex-end;
  border: 1px solid black;
  margin: 4px 0;
  border-radius: 5px;
  box-shadow: 5px 0px 9px -1px rgba(153,148,153,1);
}

.player-img {
  width: 45px;

  img {
    height: 45px;
    border-radius: 50%;
  }
}

.player-details {
  align-items: center;
  flex-grow: 2;
  text-align: center;
  font-size: 14px;
  p {
    display: inline-block;
  }
}

.player-status {
  font-size: 12px;
}

.booking-control {
  text-align: center;
  padding: 9px;
}


.accept-toggle {
  font-size: 12px;
  padding: 5px;
  border-radius: 12px;
  color: white;
  background-color: #D1CA98;
}

.show-bck-btn{
  height: 40px;
  margin: 10px 0px;
  border: 0.5px solid black;
  display: flex;
  background-color: #EDDEA4;
  padding: 0 16px;
  border-radius: 20px;
  width: 135px;
  text-decoration: none;
  margin-left: auto;
  &:hover img{
    transform: rotate(90deg);
  }
  &:hover{
    text-decoration: none;
  }
  a{
    height:100%;
    align-items: center;
    text-decoration: none;
  }
}

.show-bck-btn-icon{
  height: 100%;
  img{
    height: 100%;
    margin-right: 18px;
    transition: transform 0.2s ease;
  }

}

.show-bck-btn-text{
  p{
    height: 100%;
    margin: 0;
    line-height: 2.4;
    text-decoration: none;
    color: grey;
    &:hover{
      text-decoration: none;
    }
  }
}

.show-bck-btn-text > p {
  text-decoration: none;
}


.show-bck-btn-text > p:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}






