.page-wrapper {
  margin: 0 auto;
  padding: 25px;
  color: #3f3f3f;
}


.event-show-card {
  text-align: center;
  background-image: image-url('event-show-background.jpeg');
  background-size: cover;
  height: 100%;
  width: 1050px;
  margin: 25px;
  display: flex;
  box-shadow: 5px 0px 9px -1px rgba(153,148,153,1);
  padding: 20px 32px;

}


.game-image {
}

.game-image img {
  border-radius: 3px;
  height: 259px;
  width: 100%;
  border: 8px solid #3f3f3f;
  margin-bottom: 14px;
}

.host-details {
  display: flex;
  padding: 8px;
  height: 30px;
  text-align: center;
  a {
    text-decoration: none
  }
  img {
      height: 25px;
    width: 25px;
    border-radius: 16px;
  }
  h3{
    font-size: 17px;
  }

}

.user h3{
  margin-left: 4px;
}

.host-actions {
  font-size: 32px;
  padding: 8px;
  height: 176px;
  text-align: center;
  display: flex;
  a{
    font-size: 20px;
    font-size: 20px;
    color: grey;
    margin-right: 15px;
  }
}
.column-one, .column-two, .column-three, {
  padding: 5px;
}

.column-one{
  width: 470px;
}

.column-two{
  width: 800px;
}

.column-three{
  width: 300px;
  margin-top: 27px;
  margin-left: 16px;
}

.col2-top{
}

.game-name {
  height: 100px;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid black;
  opacity: 0.8;
  margin: 0 14px;
  h1{
    line-height: 96px;
    height: 100%;
    margin: 0;
    font-size: 41px;
    border-top-radius: 2px;
    border-radius: 12px 12px 0px 0px;
  }

}

.game-details {
  height: 146px;

  padding: 8px;

  font-size: 22px;
}

.date{
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.address {
  padding: 3px;
  font-size: 27px;
}

.submit-btn{
  background-color: lightyellow;
  font-size: 16px;
  border-radius: 30px;
  margin-left: 24px;
  margin-top: 53px;
  height: 46px;
  padding: 0 30px;
}

.under-players{
  background-color: rgba(255, 255, 255, 0.5);
  height: 407px;
  border-radius: 8px;
  width: 250px;
}
.game-description {
  height: 219px;
  text-align: justify;
  padding: 3px;
  font-size: 22;
  margin-top: 17px;
  padding: 0 23px;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 11px;
  padding: 21px 34px;
}

.user{
  display: flex;
  margin-left: 61px;
}

.player-list  {
  text-align: center;

}
.player-card {
  display: flex;
  align-items: center;
  margin: 4px 0;
  border-radius: 5px;
  padding: 10px;
}

.player-img {
  width: 45px;

  img {
    height: 45px;
    border-radius: 50%;
  }
}

.player-details {
  align-items: center;
  flex-grow: 2;
  text-align: center;
  font-size: 14px;
  p {
    display: inline-block;
  }
}

.player-status {
  font-size: 12px;
  font-size: 12px;
  border-bottom: 1px solid black;
  padding-bottom: 14px;
}

.booking-control {
  text-align: center;
  padding: 9px;
}


.accept-toggle {
  font-size: 12px;
  padding: 5px;
  border-radius: 12px;
  color: white;
  background-color: #D1CA98;
}

.show-bck-btn{
  height: 40px;
  margin: 10px 0px;
  border: 0.5px solid black;
  display: flex;
  background-color: #EDDEA4;
  padding: 0 16px;
  border-radius: 20px;
  width: 135px;
  text-decoration: none;
  margin-left: auto;
  &:hover img{
    transform: rotate(90deg);
  }
  &:hover{
    text-decoration: none;
  }
  a{
    height:100%;
    align-items: center;
    text-decoration: none;
  }
}

.show-bck-btn-icon{
  height: 100%;
  img{
    height: 100%;
    margin-right: 18px;
    transition: transform 0.2s ease;
  }

}

.show-bck-btn-text{
  p{
    height: 100%;
    margin: 0;
    line-height: 2.4;
    text-decoration: none;
    color: grey;
    &:hover{
      text-decoration: none;
    }
  }
}

.show-bck-btn-text > p {
  text-decoration: none;
}


.show-bck-btn-text > p:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



.errors-container {
  font-size: 15px;
}


