
.event-full-container {
  background-image: linear-gradient(to left, rgba(210, 210, 210, 0.5), rgba(210, 210, 210, 0.8)), asset-url("shire");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
