<!-- show user bookings -->
<div class="container">
  <h1>My Bookings: </h1>
  <% @bookings.each do |booking| %>
    <%= render partial: 'booking-card', locals: { booking: booking } %>
  <% end %>

</div>
