
<div class="banner">



  <div class="banner-info">
    <h1 class="dungeon-text">Advanced Air Dungeons and Dragons</h1>
    <h3>Never Split up the Party</h3>

   <div class="banner-btns">
    <%= link_to  events_path do %>
    <div class="home-btn">
      <div class="home-btn-icon">
        <p></p>

      </div>
      <div class="home-btn-text">
        <p>Create A game</p>
      </div>
    </div>

    <% end %>
       <% if current_user %>
         <%= link_to  new_event_path do %>
          <div class="home-btn">
            <div class="home-btn-icon">

            </div>
            <div class="home-btn-text">
              <p>Join a Party!</p>
            </div>
          </div>
        <% end %>
       <% else %>
         <%= link_to "Find Players", new_user_session_path, data: { toggle: "modal", target: "#login-modal" } %>
       <% end %>
     </div>
  </div>



</div>

