

<div class="banner">



  <div class="banner-info">
    <h1>AirD&D</h1>
    <h3>Together we stand!</h3>

    <p class="banner-btn"><%= link_to "Discover", events_path %></p>
    <p class="banner-btn">
      <% if current_user %>
        <%= link_to "New Event", new_event_path %>
      <% else %>
        <%= link_to "New Event", new_user_session_path, data: { toggle: "modal", target: "#login-modal" } %>
      <% end %>
  </div>



</div>

