

<div class="banner">



  <div class="banner-info">
    <h1 class="dungeon-text">Advanced Air Dungeons and Dragons</h1>
    <h3>Never Split up the Party</h3>

    <p class="banner-btn"><%= link_to "Find a game", events_path %></p>
    <p class="banner-btn">
      <% if current_user %>
        <%= link_to "Find Players", new_event_path %>
      <% else %>
        <%= link_to "Find Players", new_user_session_path, data: { toggle: "modal", target: "#login-modal" } %>
      <% end %>
  </div>



</div>

