@import url('https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap');

.banner{
  background-image: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.7)), asset-url("banner_image");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  padding: 13% 15%;
  font-family: 'Proza Libre', sans-serif;
}

a:hover {
  text-decoration: none;
  color: white;
}

.home-login {
  text-align: center;
  padding: 10px 45px;
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    background-color: #E2DAA5;
  }
}

.home-btn-icon{
  height: 29px;
  width: 46px;
}

.home-btns{
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.home-btn-text{
  padding-left: 7px;
}

.home-btn{
  color: white;
  background-color: #D1CA98;
  border-radius: 27px;
  width: 189px;
  height: 46px;
  p{
    margin: 0;
    height: 100%;
  }
  a{
    display:flex;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  &:hover{
    img{
      transform: rotate(180deg);
      }
    }
  img{
    height: 100%;
    transition: transform 0.8s ease;
  }
}


.banner-btn{
  color: white;
  background-color: #D1CA98;
  border-radius: 5px;
  width: 106px;
  height: 46px;
  display: flex;
  opacity: 1.4;
  justify-content: space-around;
  align-items: center;
  margin: 29px 44%;
  text-align: center;
  border: 1.3px solid #808080;

  a{
    color:white;
    &:hover{
      text-decoration: none;
      opacity:0.8;

    }
  }
}

#event-description{
  margin-bottom: 0.5rem;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.2;
}

.events_desc_color{
  color: #D1C997;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.banner-info{
  text-align:center;
}

.event-title {
  position: absolute;
  top: 150px;
}

#logo{
  margin-bottom: 45px;
}
