
.banner{
  background-image: linear-gradient(to left, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.8)), asset-url("banner_image");

  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  padding: 9% 15%;
  position: relative;
}

a:hover {
  text-decoration: none;
  color: white;
}

.home-login {
  padding: 10px 45px;
  position: absolute;
  justify-content: space-around;
  top: 20px;
  right: 20px;
  font-size: 23px;
  line-height: 1.1;
  &:hover {
    background-color: #E2DAA5;
  }
}

.home-btns{
  display: flex;
  justify-content: space-around;
  margin: 88px 0;
}

.full-btn {
  h3 {
    margin-bottom: 23px;
  }
}

.home-btn{
  display: flex;
  align-items: center;
  color: white;
  background-color: #D1CA98;
  border-radius: 27px;
  width: 261px;
  margin: auto;
  a{
    color: white;
    text-decoration: none;
  }
  &:hover{
    img{
      transform: rotate(180deg);
      }
    }
  img{
    height: 50px;
    transition: transform 0.8s ease;
    margin: 10px 20px;
  }
  p {
    font-size: 25px;
    margin: 0;
  }
}

.banner-info{
  text-align:center;

  h1 {
    font-size: 85px;
    line-height: .7;
  }
}

#logo{
  margin-bottom: 45px;
}
