.event-card {
  height: 350px;
  width: 250px;
  background-color: #D7D8D3;
  margin: 25px;
  padding: 25px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  color: #3f3f3f;
  position: relative;
  border: 10px solid #3f3f3f;

  h1 {
    font-size: 20px;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 11px;
  }

  .titlebar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 3px 11px;
    position: absolute;
    top: 12px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  }

  .element-icons img {
    height: 20px;
  }

  .main-img {
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    border: 2px solid #3f3f3f;
  }

  .infobar {
    width: 80%;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 2px;
    position: absolute;
    top: 183px;
    left: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  }

  .description-box {
    width: 90%;
    height: 35%;
    margin: 19px 0 0 0;
    background-color: white;
  }
}


