.event-card{
  width: 250px;
  height: 200px;
  margin: 30px 15px;
}

.event-list a {
  margin-bottom: 33px;
}

.top-card{
  display: flex;
  height: 150px;
  justify-content: center;
  background-image: linear-gradient(to left, rgba(30, 30, 30, 0.22), rgba(30, 30, 30, 0.53)), url("https://source.unsplash.com/random");
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  h1{
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 29px;
  }
  border-radius: 3px;
}

.bot-card{
  background-color: white;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
  position: relative;
  p{
    text-decoration: none;
    font-size: 13px;
    color:  #808080;
    margin-bottom: 6px;
  }
}

.card-date{
  p{
    text-decoration: none;
    font-size: 13px;
    color:  #808080;
  }
}

.event-card-details{
  p{
    font-size: 15px;
  }
}

.event-card-profile{
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 186px;
}
