.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav mr-auto{
}

#username{
  color: #4C4C4C;
  font-family: "dungeonregular";
  font-size: 39px;
  line-height: 1.1;
  margin: 0 10px;
}
